<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to continue providing updates in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide continuous updates.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>audio</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
